*{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: 0;
  list-style: none;
}
body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
img{
    max-width: 100%;
    display: block;
}
a{  
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

footer{
  display: block;
}
.header_main{
  border-bottom: 1px solid #E6E6E6; /* Создает полосу внизу блока */
  width: 100%;
}
.header{
  display: flex;
  flex-direction: column;
  background: url(./img-konstrut/bg.png) no-repeat fixed center center ;
  background-size: cover;
  width: 100%;
  max-width: 2560px;
  }
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0  250px;
  width: 100%;
}
.new{
  margin: 0 auto;
}
.logo {
height: 764px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
justify-content: space-between;

}
.logo>a{
    height: 23px;    /* Сохраняем пропорции */
    max-width: 101px;
    margin-top: 45px;
    width: 100%;
}
.logo>a>img{
    height: 23px;    /* Сохраняем пропорции */
    max-width: 101px;
    width: 100%;
}

.logo_text  {
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.logo_text>h1  {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5.7px;
  font-weight: 300;
}
.logo_text>p  {
  font-size: 16px;
}
.logo_center_text {
}

.logo_down_text {
  margin-bottom: 67px;
  text-align: center;
  width: 100%;
}
.logo_down_text>a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}
/* Верхушка где фоновое изображение*/
/* Что ниже это навигация*/

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav>a{
  margin-top: 5px;
  display: flex;
  max-height: 18px;
  align-items: center;
  padding: 25px 0;
  width: 80px;
}
.nav>a>img{
  height: 100%;
}

.nav>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding-left: 0;
}

.nav>ul>a{
  color: #48555B;
  font-size: 12px;
  margin-right: 48px;
  padding: 25px 0;
}
.nav>ul>a:hover{
  color: #00A4E5;
}
.nav>ul>a:last-child{
  margin-right: 0px;
}

/* Первый блок с информацией*/

 .our_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 58px;
  height: 100%;
}
.our_story h2 {
position: relative;
max-width: 143px;
margin: 0 auto 96px;

}
.our_story h2::after {
  content: "";
  width: 50px;
border-bottom: 2px  solid  #00A4E5;
position: absolute;
top: 36px;
left: 49px;
margin: 0 auto;

}
.story_body {
  display: flex;
  justify-content: space-between;
  padding-top: 95px; 
   max-width: 941px;
   width: 100%;
}
.story_left {
  display: flex;
  flex-direction: column;
  width: 405px;
}

.top{
  font-size: 20px;
  font-weight: bold;
  color: #48555B;
  height: 77px; 
}
.top>a{
  color: #16ACE8; 
}
.story_img {
    display: flex;
}
.story_img>img {
  max-width: 140px;
  width: 100%;

}



.capabilities {
    margin: 118px auto;
}

.capabilities_main {
  max-width: 940px;
  height: 446px;
}
.capabilities_top {
  display: flex;
  justify-content: space-between;
}
.capabilities_top>h2 {
  font-size: 18px;
  color: #48555B;
  position: relative;
}
.capabilities_top>h2::after {
  content: "";
    width: 50px;
    border-bottom: 2px  solid  #00A4E5;
   position: absolute;
   top: 32px;
   left: 2px;
}
.capabilities_top>p {
  width: 405px;
  font-size: 11px;
}
.capabilities_top>button {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
}
.capabilities_top>button>a {
color:#fff ;
}
.capabilities_down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 76px;
}

.capabilities_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 37px 23px;
  border: 1px solid #E6E6E6;
  width: 295px;
  height: 330px;
}
.capabilities_service>img {
  padding-bottom: 25px;

}
.capabilities_service>h2 {
  font-size: 16px;
  width: 250px;
  height: 48px;
  padding-bottom: 13px;
  color: #48555B;
}
.capabilities_service>p {
  font-size: 13px;
  width: 250px;
}


.want_build { 
  background-image: url(./img-konstrut/bgcity.png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;

}

.want_build_main {
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 232px;
}
.want_build_main>h2 {
font-size: 30px;
 width: 340px;
 text-align: center;
 color: #48555B;
 padding-bottom: 35px;
}
.want_build_main>button {
width: 150px;
height: 40px;
background-color: #00A4E5;
}
.want_build_main>button>a {
padding: 11px 0;
font-size: 13px;
color: #fff;
width: 150px;
height: 40px;
}





.mail {
  background-color: #171819;
  max-width: 2560px;
}

.mail_main {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 30px 0;
}
.mail_main>h2 {
  color: #fff;
  font-size: 22px;
  margin-right: 70px;
  max-width: 216px;
}
.mail_main>div {
  display: flex;
  justify-content: center;
  align-self: center;
  
}
.mail_main>div>input {
  padding: 11px 0 11px 16px;
  width: 250px;
  height: 40px;
}
.mail_main>div>button {
  background-color: #00A4E5;
  width: 150px;
  height: 40px;
}
.mail_main>div>button>a {
  padding: 11px 48px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}



.footer {
  color: #fff;
  background-color: #141A20;

  font-size: 11px;
  padding: 46px 0;
  max-width: 2560px;
}

.footer_main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_main h6 {
  max-width: 250px;
  font-size: 11px;
}
.company_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 148px;
}
.company_footer>h6 {
 padding: 0 0 15px;
margin: 0;
}
.company_footer>p {
  line-height:19px;
  max-width: 230px;
}
  
.logo_footer {
  align-items: flex-start;
  
}
.logo_footer>img {

  margin-top: 0;
}
.links_footer {
height: 158px;
width: 262px;
margin-right: 52px;
}
.links_footer_main {
  display: flex;
  justify-content: space-between;
}
.links_footer>h6 {
 padding: 0 0 15px;
  margin: 0;
}

.links_nav {
  
}
.links_nav>ul {
display: flex;
flex-direction: column;
  padding: 0;
  margin: 0;
}
.links_nav>ul>li {
padding-bottom: 10px;
}
.links_faq {
  
}
.links_faq>ul {
  padding: 0;
  margin: 0;
}
.links_faq>ul>li {
  padding-bottom: 10px;
}
.links_blog>ul {
  margin: 0;
  padding: 0;
}
.links_blog>ul>li {
    padding-bottom: 10px;
}
.contact_footer {
  max-width: 141px;
  margin: 0;
  padding: 0;
}
.contact_footer>h6 {
   padding: 0 0 11px;
   margin: 0;
}
.contact_footer_main {

}
.contact_footer>address {
  width: 128px;
  line-height: 16px;
  font-weight: 300;
}
.contact_footer>p {

  
}
.number{
margin: 22px 0;
}

.email {
}
.socials_footer {
  display: flex;
  margin-top: 25px;
  height: 13px;
}
.socials_footer>a {
  margin: 0;
  padding: 0;
  max-height: 12px;
  max-width: 12px;
  margin-right: 38px;
  
}
.socials_footer>a:last-child {
  margin-right: 0px;
}


.copyright{
  background-color: #171819;
   max-width: 2560px;
}
.copyright_main {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 23px 0;
}
.copyright_main>p {
 font-size: 11px;
  color: #fff;
}


@media screen and (max-width:1328px) {
  .logo>a{
    height: 23px;   
    max-width: 101px;
    margin-top: 45px;
    width: 100%;
}
.logo>a>img{
    height: 23px;    
    max-width: 101px;
    width: 100%;
}

.logo_text  {
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.logo_text>h1  {
  font-size: 60px;
  letter-spacing: 5.7px;
  font-weight: 300;
}
.logo_text>p  {
  font-size: 16px;
}
.logo_center_text {
}

.logo_down_text {
  margin-bottom: 67px;
  text-align: center;
  width: 100%;
}
.logo_down_text>a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}
.container{
  padding: 0 150px;
  margin: 0 auto;
  height: auto;
}
.nav{
  justify-content: space-around;
  align-items: center;
}

.our_story h2 {
position: relative;
max-width: 143px;
margin: 0 auto 10px;

}
.story_body {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   padding-top: 0px;
   max-width: 941px;
   width: 100%;
}

.capabilities {
    margin: 0 auto;
    
}
.capabilities_main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.capabilities_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.capabilities_top>h2 {
  font-size: 18px;
  color: #48555B;
  position: relative;
}
.capabilities_top>h2::after {
  content: "";
    width: 50px;
    border-bottom: 2px  solid  #00A4E5;
   position: absolute;
   top: 32px;
   left: 65px;
}
.capabilities_top>p {
  padding: 20px 0;
  text-align: center;
}
.capabilities_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.capabilities_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 37px 23px;
  border: 1px solid #E6E6E6;
  width: 295px;
  height: 330px;
}
.capabilities_service>img {
  padding-bottom: 25px;
}

.want_build { 
  background-image: url(./img-konstrut/bgcity.png);
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  padding-top: 100px;

}
.want_build_main {
 display: flex;
 flex-direction: column;
  margin: 0 auto;
  padding-bottom: 232px;
}

.mail {
  background-color: #171819;
  max-width: 1440px;
}

.mail_main {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 30px 0;
}

.footer {
  color: #fff;
  background-color: #141A20;

  font-size: 11px;
  padding: 46px 0;
  max-width: 1440px;
}
}
 @media screen and (max-width:1230px) { 
.mail_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   margin: 0 auto;
  padding: 30px 0;
}
.mail_main>h2 {
  color: #fff;
  font-size: 22px;
 text-align: center;
  max-width: 216px;
  margin-right: 0;
}
.mail_main>div {
display: flex;
flex-direction: column;
 align-items: center;
  justify-content: center;
}
.mail_main>div>input {
  padding: 11px 0 11px 16px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
}

.footer {
  text-align: center;
}
.footer_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.company_footer {
 margin: 0 auto;
}
.company_footer>h6 {
 padding: 0 0 15px;
 width: 250px;
 margin: 0 auto;
}
.company_footer>p{
  max-width: 230px;
}
.logo_footer{
  max-width: 250px;
  margin: 0 auto;
}
.logo_footer>img{
  max-width: 230px;
  margin: 0 auto;

}
.links_footer {
margin: 0 auto;

width: 250px;
}
.links_footer>h6{
text-align: center;

}
.links_footer_main {
  justify-content: space-around;
}
.links_faq {
  
}
.contact_footer {
  width: 250px;
  margin: 0;
  padding: 0;
}
.contact_footer_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.number{
margin: 0;
}
}
@media screen and (max-width:813px) {
  .container{
    padding: 0 10px;
  }
  .nav{
    padding: 0px;
  }
.story_img{
  display: block;
}
.nav>ul>a{
  color: #48555B;
  font-size: 12px;
  margin-right: 5px;
  padding: 25px 0;
}
}
@media screen and (max-width:460px) {
body{
  font-size: 13px;
}
.container{
  padding: 0 10px;
}
}