*{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: 0;
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{  
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
.header_main {
  height: 100%;
   
}

footer{
  display: block;
}
.header_main{
  border-bottom: 1px solid #E6E6E6; /* Создает полосу внизу блока */
  height: 100%;
  
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-image: url(./img-konstrut/bg.png) ;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1090px;
  }
.container {
  max-width: 940px;
  margin: 0 250px;
  width: 100%;
  height: 100%;
}
.new{
  margin: 0 auto;
}
.logo {
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
justify-content: space-between;
}
.logo>a>img{
    max-height: 23px;    /* Сохраняем пропорции */
    max-width: 101px;
    margin-top: 45px;
}

.logo_text  {
  color: white;
  text-align: center;
  margin: 0 auto;
}
.logo_text>h1  {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5.7px;
  font-weight: 300;
}
.logo_text>p  {
  font-size: 16px;
}
.logo_center_text {
}

.logo_down_text {
  margin-bottom: 71px;
}
.logo_down_text>a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
/* Верхушка где фоновое изображение*/
/* Что ниже это навигация*/
.main{
  height: 100%;
 
}

.navigation{

  
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav>a{
  margin-top: 5px;
  display: flex;
  max-height: 18px;
  align-items: center;
  padding: 25px 0;
  width: 80px;
}
.nav>a>img{
  height: 100%;
}

.nav>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
}

.nav>ul>a{
  color: #48555B;
  font-size: 12px;
  margin-right: 48px;
  padding: 25px 0;
}
.nav>ul>a:hover{
  color: #00A4E5;
}
.nav>ul>a:last-child{
  margin-right: 0px;
}

/* Первый блок с информацией*/

 .our_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 58px;
  height: 100%;
}
.our_story h2 {
position: relative;
max-width: 143px;
margin: 0 auto;

}
.our_story h2::after {
  content: "";
  width: 50px;
border-bottom: 2px  solid  #00A4E5;
position: absolute;
top: 36px;
left: 49px;
margin: 0 auto;

}
.container {
}
.story{
   padding-top: 95px; 
   max-width: 941px;
   width: 100%;
}
.story_body {
  display: flex;
  justify-content: space-between;
}
.story_left {
  display: flex;
  flex-direction: column;
  width: 405px;
 
}
.top{
  font-size: 20px;
  font-weight: bold;
  color: #48555B;
  width: 380px;
  height: 77px; 
}
.top>a{
  color: #16ACE8; 
}
.story_img {
    display: flex;
    flex-wrap: wrap;
}
.story_img>img {
  max-width: 140px;
    width: 100%;
}

.capabilities {
  margin: 118px 0 115px 0;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.capabilities_main {
}
.capabilities_top {
  display: flex;
  justify-content: space-between;
}
.capabilities_top>h2 {
  font-size: 18px;
  color: #48555B;
  position: relative;
}
.capabilities_top>h2::after {
  content: "";
    width: 50px;
    border-bottom: 2px  solid  #00A4E5;
   position: absolute;
   top: 32px;
   left: 2px;
}
.capabilities_top>p {
  width: 405px;
  font-size: 11px;
}
.capabilities_top>button {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
}
.capabilities_top>button>a {
color:#fff ;
}
.capabilities_down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 76px;
}

.capabilities_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 38px 23px;
  border: 1px solid #E6E6E6;
  
}
.capabilities_service>img {
  padding-bottom: 25px;

}
.capabilities_service>h2 {
  font-size: 16px;
  width: 250px;
  height: 48px;
  padding-bottom: 13px;
  color: #48555B;
}
.capabilities_service>p {
  font-size: 13px;
  width: 250px;
}





.want_build {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-image: url(./img-konstrut/bgcity.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.want_build_main {
 display: flex;
 flex-direction: column;
   align-items: center;
  justify-content: center;
  padding-top: 120px;


}
.want_build_main>h2 {
font-size: 30px;
 width: 340px;
 text-align: center;
 color: #48555B;
 padding-bottom: 35px;
}
.want_build_main>button {
width: 150px;
height: 40px;
background-color: #00A4E5;
}
.want_build_main>button>a {
padding: 11px 0;
font-size: 13px;
color: #fff;
width: 150px;
height: 40px;
}





.mail {
  background-color: #171819;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.mail_main {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 30px 0;
}
.mail_main>h2 {
  color: #fff;
  font-size: 22px;
  margin-right: 70px;
}
.mail_main>div {
  display: flex;
  justify-content: center;
  align-self: center;
  
}
.mail_main>div>input {
  padding: 11px 0 11px 16px;
  width: 250px;
  height: 40px;
}
.mail_main>div>button {
  background-color: #00A4E5;
  width: 150px;
  height: 40px;
}
.mail_main>div>button>a {
  padding: 11px 48px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: #fff;
  background-color: #141A20;
  height: 100%;
  font-size: 11px;
  padding: 46px 0;
}

.footer_main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_main h6 {
  font-size: 11px;
}
.company_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 148px;
}
.company_footer>h6 {
 padding: 0 0 15px;
margin: 0;
}
.company_footer>p {
  line-height:19px;
  width: 230px;
}
  
.logo_footer {
  align-items: flex-start;

}
.logo_footer>img {

  margin-top: 0;
}
.links_footer {
height: 158px;
}
.links_footer_main {
  display: flex;
  justify-content: space-between;
 width: 262px;
height: 150px;
margin: 0;
padding: 0;
}
.links_footer>h6 {
 padding: 0 0 15px;
margin: 0;
}
.links_footer_main {
  height: 100%;
  width: 262px;
  display: flex;
  padding: 0;
  margin: 0;
}
.links_nav {
  
}
.links_nav>ul {
display: flex;
flex-direction: column;
  padding: 0;
  margin: 0;
}
.links_nav>ul>li {
padding-bottom: 10px;
}
.links_faq>ul {
  padding: 0;
  margin: 0;
}
.links_faq>ul>li {
  padding-bottom: 10px;
}
.links_blog>ul {
  padding: 0;
  margin: 0;
}
.links_blog>ul>li {
    padding-bottom: 10px;
}
.contact_footer {
  margin: 0;
  padding: 0;
}
.contact_footer>h6 {
   padding: 0 0 11px;
   margin: 0;
}
.contact_footer>address {
  width: 128px;
  line-height: 16px;
  font-weight: 300;
}
.contact_footer>p {

  
}
.number{
margin: 22px 0;
}

.email {
}
.socials_footer {
  display: flex;
  margin-top: 25px;
  height: 13px;
}
.socials_footer>a {
  margin: 0;
  padding: 0;
  max-height: 12px;
  max-width: 12px;
  margin-right: 38px;
  
}
.socials_footer>a:last-child {
  margin-right: 0px;
}


.copyright{
  background-color: #171819;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.copyright_main {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 23px 0;
}
.copyright_main>p {
 font-size: 11px;
  color: #fff;
}
